body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    animation: rotation 5s infinite linear;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1e96fc;
    color: #a2d6f9;
    border-bottom: 6px solid #fcf300;    
   
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.dropdown { 
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e96fc;
  color: #fcf300;
  width: 100%;
  padding: 0 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
